@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #cccccc;
  --foreground: #19191a;
  --card: #cccccc;
  --card-foreground: #19191a;
  --popover: #cccccc;
  --popover-foreground: #19191a;
  --primary: #19191a;
  --primary-foreground: #c8c8c8;
  --secondary: #c4c4c4;
  --secondary-foreground: #19191a;
  --muted: #c4c4c4;
  --muted-foreground: #5c5c5c;
  --accent: #c4c4c4;
  --accent-foreground: #19191a;
  --destructive: #a50017;
  --destructive-foreground: #cccccc;
  --border: #b7b7b7;
  --input: #b7b7b7;
  --ring: #818181;
  --chart-1: #429bff;
  --chart-2: #0a5ee9;
  --chart-3: #0f4ace;
  --chart-4: #153faf;
  --chart-5: #18328a;
  --sidebar: #c8c8c8;
  --sidebar-foreground: #19191a;
  --sidebar-primary: #19191a;
  --sidebar-primary-foreground: #c8c8c8;
  --sidebar-accent: #c4c4c4;
  --sidebar-accent-foreground: #19191a;
  --sidebar-border: #b7b7b7;
  --sidebar-ring: #818181;
  --font-sans: ui-sans-serif, sans-serif, system-ui;
  --font-serif: Cormorant Garamond, ui-serif, serif;
  /* --font-mono: Chivo Mono, ui-monospace, monospace; */
  --radius: 0rem;
  --shadow-x: 0;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0px 0px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.3rem;
}

.dark {
  --background: #000000;
  --foreground: #c8c8c8;
  --card: #000000;
  --card-foreground: #ffffff;
  --popover: #1e1e1e;
  --popover-foreground: #c8c8c8;
  --primary: #0064e6;
  --primary-foreground: #ffffff;
  --secondary: #121212;
  --secondary-foreground: #c8c8c8;
  --muted: #1e1e1e;
  --muted-foreground: #818181;
  --accent: #0064e6;
  --accent-foreground: #c8c8c8;
  --destructive: #ff1e23;
  --destructive-foreground: #c8c8c8;
  --border: #202020;
  --input: #2a2a2a;
  --ring: #5c5c5c;
  --chart-1: #429bff;
  --chart-2: #0a5ee9;
  --chart-3: #0f4ace;
  --chart-4: #153faf;
  --chart-5: #18328a;
  --sidebar: #19191a;
  --sidebar-foreground: #c8c8c8;
  --sidebar-primary: #1039b8;
  --sidebar-primary-foreground: #c8c8c8;
  --sidebar-accent: #1e1e1e;
  --sidebar-accent-foreground: #c8c8c8;
  --sidebar-border: #202020;
  --sidebar-ring: #424242;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Cormorant Garamond, ui-serif, serif;
  /* --font-mono: Chivo Mono, ui-monospace, monospace; */
  --radius: 0rem;
  --shadow-x: 0;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 0px 0px 0px hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 0px 0px 0px hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  /* --font-mono: var(--font-mono); */
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

    --font-handjet: var(--font-handjet);
  --font-cormorant-garamond: var(--font-cormorant-garamond);

  --animate-grid: grid 15s linear infinite;

  @keyframes grid {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --animate-skeleton: skeleton 2s -1s infinite linear
;
  @keyframes skeleton {
  to {
    background-position: -200% 0;
    }
  }}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.os-scrollbar {
  --os-size: 12px;
  --os-handle-bg: white;
  --os-handle-bg-hover: white;
  --os-handle-bg-active: white;
  --os-track-border-radius: 0;
  --os-handle-border-radius: 0;
}

body {
  color: white;
  background: black;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}